﻿@model class_project.Models.Run

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Run</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunFile.FitFilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunFile.FitFilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgHR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxHR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
