﻿@model IEnumerable<class_project.Models.Run>

@{
    ViewBag.Title = "Runs";
}


<div class="titlebar">Runs</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunFile.FitFilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxHR)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Athlete.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunFile.FitFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgHR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHR)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { RunID = item.RunID, AthID = item.AthleteID, FileID = item.FileID }) |
                @Html.ActionLink("Details", "Details", new { RunID = item.RunID, AthID = item.AthleteID, FileID = item.FileID }) |
                @Html.ActionLink("Delete", "Delete", new { RunID = item.RunID, AthID = item.AthleteID, FileID = item.FileID })
            </td>
        </tr>
    }

</table>

<div class="addbutton">@Html.ActionLink("Create New", "Create")</div>
