﻿@model Elimination.Models.Player

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p></p>
            <img id="profilePic" src="@Html.DisplayFor(model => model.PhotoUrl)" height="250" width="250" />
            <h2>@Html.DisplayFor(model => model.UserName)</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-container">
                <tbody>
                    <tr>
                        <th class="text-center" colspan="2">
                            <h3>Stats</h3>
                        </th>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>Games Played</th>
                        <td>@Model.Games.Count()</td>
                    </tr>
                    <tr>
                        <th>Games Won</th>
                        <td>@Model.GamesWon.Count()</td>
                    </tr>
                    <tr>
                        <th>Players Eliminated</th>
                        <td>@Model.EliminationsEliminator.Count()</td>
                    </tr>
                    <tr>
                        <th>Times Eliminated</th>
                        <td>@Model.EliminationsEliminated.Count()</td>
                    </tr>
                    <tr>
                        <th>Last Player Eliminated</th>
                        @if (Model.EliminationsEliminated.LastOrDefault() != null)
                        {
                            <td>@Model.EliminationsEliminated.LastOrDefault().EEliminated.UserName</td>
                        }
                        else
                        {
                            <td>This player hasn't eliminated anyone yet!</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table table-container">
                <tbody>
                    <tr>
                        <th class="text-center" colspan="2">
                            <h3>Info</h3>
                        </th>
                    </tr>
                    <tr>
                        <th>Real Name</th>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <th>Profile</th>
                        <td>@Model.Profile</td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-default" onclick="location.href = '@Url.Action("Compare", "Players", new {id = Model.PlayerID })'">Compare</button>
            <button class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Players")'">Back to List</button>
        </div>
    </div>
</div>
