﻿@model Elimination.Models.Player

@{
    ViewBag.Title = "Edit Profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row hover-board" style="margin-top: 20px; margin-bottom: 30px; margin-right: 0; margin-left: 0;">
            <div class="col-md-11">
                <h2>Edit Player</h2>
            </div>
            <div id="settings-edit" class="col-md-1 text-right dashboard-icons">
                <p></p>
                <a href="~/Account/Settings/@Html.DisplayFor(model => model.PlayerID)"><img id="settingsPic" src="~/Images/settings.png" height="50" width="50" /></a>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlayerID, new { name = "TargetID" })
        @Html.HiddenFor(model => model.AuthUserID)
        @Html.HiddenFor(model => model.DOB)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Phone)
        @Html.HiddenFor(model => model.PhotoUrl, new { @id = "original-image-url" })

        <div class="row" style=" margin-right: 0; margin-left: 0;">
            <!--Photo display and import.-->
            <div class="col-md-4">
                <div class="playerEditImageEditor" id="playerEditImageEditor">
                    <div class="cropit-preview"></div>
                    <input type="file" class="cropit-image-input" />
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">
                    <input type="hidden" name="image_data_3" class="hidden-image-data" />
                    <div id="facestatus" style="align-self: center"></div>
                </div>
                <input class="playerEditImageHolder invisible" id="playerEditImageHolder" name="playerEditImageHolder" hidden/>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <!--First name-->
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <!--Last name-->
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Username -->
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Profile description-->
                        @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Profile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Save and Cancel buttons-->
                        <div class="row">
                            <div class="col-md-8" style="margin-top: 10px">
                                <div class="form-group">
                                    <input type="submit" value="SAVE" class="btn btn-default" id="save-button"/>
                                    <a href="@Url.Action("Index","Dashboard")"><input type="button" value="CANCEL" class="btn btn-default" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.cropit.js")
    @Scripts.Render("~/bundles/playerEdit")
}
