﻿@model Elimination.Models.PlayersViewModel

@{
    ViewBag.Title = "Index";
}

<br />
<div class="hover-board" style="margin-bottom: 40px;">
    <h1 style="text-align: center;">Current players in the Elimination network</h1><br />
</div>


@*This is the table that contains the players friends*@
<table class="list-table table-container" id="friends-list-table" style="width: 100%;">
    <tr class="table-menu-table-row">
        <th>
            <h3 style="margin-left: 44%;">Your Friends</h3>
        </th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="vertical-menu" id="friends-menu">
                @{
                    var i = 0;
                    var friendsCount = Model.CurrentPlayer.PFFriends.Count();
                }
                @foreach (var item in Model.CurrentPlayer.PFFriends)
                {
                    i++;
                    <div id="friends_div_@item.PlayerID">
                        <div class="row" style="width: 1120px; margin-left: 0px; margin-right: 0px;">
                            <div class="col-md-6"><a href="/Players/Details/@item.PlayerID">@item.UserName</a></div>
                            <div class="col-md-3">
                                <button class="sm-btn btn btn-default" value="@item.PlayerID" onclick="unfriendPlayer(@Model.CurrentPlayer.PlayerID, @item.PlayerID)"
                                        id="friend-button-@item.PlayerID" style="display: block; margin-left: auto; margin-right: auto; float: right;">
                                    Unfriend
                                </button>
                            </div>
                        </div>
                        @if (i < friendsCount)
                        {
                            <hr class="list-hr-line" />
                        }
                    </div>
                }
            </div>
        </td>
    </tr>
</table>

<br />
<br />
<br />


@*This is the table that contains players that aren't the current players friends*@
<table class="list-table table-container" id="players-list-table">
    <tr class="table-menu-table-row">
        <th>
            <h3 style="margin-left: 40%;">Send Friend Requests</h3>
        </th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="vertical-menu" id="friend-request-menu">
                @{
                    var k = 0;
                    var playersCount = Model.Players.Count();
                }
                @foreach (var item in Model.Players)
                {
                    k++;
                    var notRequested = "disabled=disabled";
                    var requested = "";
                    if (item.FRRequestingPlayers.Contains(Model.CurrentPlayer))
                    {
                        notRequested = "";
                        requested = "disabled=disabled";
                    }
                    <div id="div_@item.PlayerID">
                        <div class="row" style="width: 1120px; margin-left: 0px; margin-right: 0px;">
                            <div class="col-md-6"><a href="/Players/Details/@item.PlayerID">@item.UserName</a></div>
                            <div class="col-md-3">
                                <button class="sm-btn btn btn-default" value="@item.PlayerID" onclick="sendFriendRequest(@Model.CurrentPlayer.PlayerID, @item.PlayerID)"
                                        id="request-friend-button-@item.PlayerID" style="display: block; margin-left: auto; margin-right: 10px; float: right;" @requested>
                                    Send Request
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="sm-btn btn btn-default" value="@item.PlayerID" onclick="cancelFriendRequest(@Model.CurrentPlayer.PlayerID, @item.PlayerID)"
                                        id="retract-request-button-@item.PlayerID" style="display: block; margin-left: auto; margin-right: 10px; float: right;" @notRequested>
                                    Cancel Request
                                </button>
                            </div>
                        </div>
                        @if (k < playersCount)
                        {
                            <hr class="list-hr-line" />
                        }
                    </div>
                }
            </div>
        </td>
    </tr>
</table>

<div id="dialog" title="Confirmation Required">
    Are you sure you want to unfriend this player?
</div>


@section scripts
{
    @Scripts.Render("~/bundles/friendRequests")
}