﻿@model IEnumerable<Elimination.Models.Badge>

@{
    ViewBag.Title = "Badges";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Badges</h2>
</div>

<table class="table table-container">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeDescription)
        </th>
        <th>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeDescription)
            </td>
            <td>
                <img src="~/@Html.DisplayFor(modelItem => item.Url)" height="100" width="100" />
            </td>
        </tr>
    }

</table>
