﻿@model Elimination.Models.DashboardViewModel

@{
    ViewBag.Title = "PastGames";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px; padding-top: 10px; padding-bottom: 10px;">
    <h2 style="text-align: center;">Past Games</h2>
</div>


<table class="table table-container">
    <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Eliminations
        </th>
        <th>
            Winner
        </th>

    </tr>

    @foreach (var item in Model.games)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { controller = "Games", Action = "Details", id = item.GameID, pid = item.Host })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Model.player.EliminationsEliminator.Where(g => g.GameID.Equals(item.GameID)).Count()
            </td>
            @if (item.Winner != null)
            {
                <td @if (item.Winner == Model.player.PlayerID) { @: style="color: #33dd33"
                    }>
                    @Html.DisplayFor(model => item.WinnerObj.UserName)

                </td>
            }
            else
            {
                <td>No Winner</td>
            }
        </tr>
    }
</table>