﻿@model Elimination.Models.DashboardViewModel
@{
    ViewBag.Title = "Stats";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Your Current Stats</h2>
</div>


<div id="dashboard-username" class="text-center">
    <p></p>
    <h2 class="text-center">@Html.DisplayFor(model => model.player.UserName)</h2>
    <table class="table table-container">
        <tbody>
            <tr>
                <th>Games Played</th>
                <td>@ViewBag.Played</td>
            </tr>
            <tr>
                <th>Games Hosted</th>
                <td>@ViewBag.Host</td>
            </tr>
            <tr>
                <th>Total Times Eliminated</th>
                <td>@ViewBag.TimesEliminated</td>
            </tr>
            <tr>
                <th>Players Eliminated</th>
                <td>@ViewBag.TargetsEliminated</td>
            </tr>
            <tr>
                <th>Targets Eliminated/Times Eliminated</th>
                <td>@ViewBag.Ratio</td>

            </tr>
        </tbody>
    </table>
</div>