﻿@model IEnumerable<class_project.Models.Athlete>

@{
    ViewBag.Title = "Athletes";
}

<div class="titlebar">Athletes</div>

<div class="row" style="width: 100%;">
    <div class="col-xs-6" style="padding-left: 25%;">
        <div class="dropdown" style="margin-left: -65px;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Select by DOB
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var item in Model.Select(x => x.DOB).Distinct().ToArray())
                {
                    <li>@Html.ActionLink(item.Year.ToString(), "Date", new { Id = item.Year }, null)</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-xs-6" style="padding-left: 25%;">
        <div class="dropdown" style="margin-left: -65px;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Select by Team
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li>@Html.ActionLink("Varsity", "Teams", new { id = "A" }, null)</li>
                <li>@Html.ActionLink("Junior Varsity", "Teams", new { id = "B" }, null)</li>
                <li>@Html.ActionLink("Junior Varsity 2", "Teams", new { id = "C" }, null)</li>
            </ul>
        </div>
    </div>

</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            @if (item.Team == "A")
            {
                <td>
                    Varsity
                </td>
            }
            else if (item.Team == "B")
            {
                <td>
                    Junior Varsity
                </td>
            }
            else if (item.Team == "C")
            {
                <td>
                    Junior Varsity 2
                </td>
            }
            else
            {
                <td>
                    No team listed
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AthleteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AthleteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AthleteID })
            </td>
        </tr>
    }

</table>

<div class="addbutton">@Html.ActionLink("Add Athlete", "Create")</div>
