﻿
@{
    ViewBag.Title = "ErrorPage";
}

<style>
    #error-home-link {
        background: #4a4f51;
        padding: 5px 15px 5px 15px;
        color: white;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

        #error-home-link:hover {
            background: #394347;
        }

    #error-home-link:active {
        background: #4c4f51;
        box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
    }

    img[class="center"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Oops... You stepped on a landmine and the page got away!!</h2>
</div>

<div style="width: 100%;">
    <h2 style="text-align: center;">You should sneak away before someone sees you!!</h2>
    <h3 style="text-align: center;">Or return @Html.ActionLink("Home", "Index", "Home", null, new {@id="error-home-link"})</h3>

    <a href="#"><img class="center" src="~/Images/zombie-red-white.png" width="300" height="300" /></a>
</div>