﻿@model Elimination.Models.Game

@{
    ViewBag.Title = "Details";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Details</h2>
</div>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        @if (Model.Winner != null)
        {
            <dt>
                Winner
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WinnerObj.UserName)
            </dd>
        }
    </dl>
</div>

@Html.ActionLink("Start Game", "StartGame", new { id = Model.GameID }, new { @class = "btn btn-default" })

<div class="form-group">
    @Html.ActionLink("Add Players", "AddPlayers", new { id = Model.GameID }, new { @class = "btn btn-default" })
</div>
<table class="table table-container" id="game-players-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Targets.FirstOrDefault().APlayer.UserName)
        </th>
        <th>
            Target
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var player in Model.Players)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => player.UserName)
                @if (player.EliminationsEliminated.Where(x => x.GameID.Equals(Model.GameID)).ToList().Count() > 0)
                {
                    //Grayout Photo if Eliminated
                    <div id="filter" style="float:left"> <img id="profilePic" src="@Html.DisplayFor(playr => player.PhotoUrl)" class="image-grey" height="80" width="80" /> <br /></div>
                }
                else
                {
                    <div style="float:left"> <img id="profilePic" src="@Html.DisplayFor(playr => player.PhotoUrl)" class="image-grey" height="80" width="80" /> <br /><br /></div>
                }
            </td>
            <td>
                @{ var target = Model.Targets.FirstOrDefault(t => t.Player == player.PlayerID); }
                
                @if (target != null)
                {
                    @target.TargetPlayer.UserName
                    <div style="float:left"><img id="profilePic" src="@target.TargetPlayer.PhotoUrl" height="80" width="80" /></div>
                }
                else
                {
                    @:No Target
                }

            </td>
            <td>
                @if (Model.Active)
                {
                    <button class="sm-btn btn btn-default" onclick="location.href='@Url.Action("EliminatePlayerHost", "Games", new { gameID = Model.GameID, targetID = player.PlayerID })'">Eliminate</button>
                }
                <button class="sm-btn btn btn-default" onclick="location.href='@Url.Action("RemovePlayer", "Games", new { gameID = Model.GameID, playerID = player.PlayerID })'">Remove</button>
            </td>
        </tr>
    }

</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<style>
    #filter {
        filter: grayscale(80%);
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

