.primary-color {
    background-color: #263238;
}

.primary-light-color {
    background: #4f5b62;
}

.primary-dark-color {
    background: #000a12;
}

.secondary-color {
    background: #b71c1c;
}

.secondary-light-color {
    background: #f05545;
}

.secondary-dark-color {
    background: #961402;
}



.secondary-dark-color-highlight {
    background: rgba(150, 20, 2, 0.51);
}

.primary-text-color {
    background: #ebebeb;
}

.secondary-text-color {
    background: #e2dfdf;
}

a {
    color: #b71c1c;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.input {
    border-radius: 0px;
}

/********************button stuff************************/

#register-button {
    margin-left: 0px;
}

.btn {
    min-width: 200px;
    min-height: 35px;
    padding: 3px 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #961402;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


    .btn.btn-default {
        color: #ebebeb;
        background-color: #b71c1c;
        border: 1px solid #961402;
        border-radius: 0px;
        min-width: 200px;
        min-height: 45px;
    }

.btn-default:hover {
    background-color: #961402;
    border: 1px solid #6d1104;
    color: #ebebeb;
}

.btn.btn-default:active {
    background-color: #943a2e;
    border: 1px solid #622921;
    color: #c6c6c6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #961402;
    border: 1px solid #6d1104;
    color: #ebebeb;
}

#send-invites-button.btn.btn-default {
}

#send-players-button-col.col-md-2 {
    margin-left: 0px;
    width: auto;
}

#send-invites-button-col.col-md-2 {
    /*margin-left: 20px;*/
    width: auto;
}

a.btn.btn-default {
    padding-top: 5px;
    padding-bottom: 5px;
    font-variant: all-petite-caps;
    font-size: 24px;
    letter-spacing: 3px;
}

.btn.sm-btn {
    min-width: 100px;
    min-height: 20px;
}

/********************navbar stuff************************/

.navbar-inverse {
    background-color: #000a12;
    border: none;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #e2dfdf;
    }

    .navbar-inverse .navbar-brand {
        color: #e2dfdf;
    }

#nav-ninja {
    position: relative;
    top: 8px;
    right: 3px;
}


/****************Row stuf*********************************/

.row.top-of-table-row {
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/****************Forms stuff (TextAreas)******************/

.form-control {
    border-radius: 0px;
    height: 30px;
    background-color: #F4F4F5;
    border: 3px solid #4f5b62;
    min-height: 45px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #b71c1c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 28, 28, 1);
    outline: 0 none;
}

.form-horizontal .control-label {
    text-align: left;
    min-width: 200px;
}

/***************Date picker stuff*************************/

.ui-widget-header {
    border: none;
    font-weight: 100;
}

.ui-datepicker {
    background-color: #1d252a;
    color: #ebebeb;
    min-width: 15%;
    padding: 18px;
}

    .ui-datepicker a {
        color: #f05545;
        font-size: 16px;
    }

    .ui-datepicker .ui-datepicker-header {
        background-color: #b71c1c;
        border: none;
        border-radius: 0px;
        height: 10%;
    }

span.ui-datepicker-month {
    color: #ebebeb;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: rgba(0,0,0,0.0);
    border: none;
    font-weight: normal;
    color: #b71c1c;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header .ui-icon {
    background-image: url(themes/base/images/ui-icons_ffffff_256x240.png);
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    border: 2px solid #4f5b62;
    font-family: 'Ubuntu Mono', monospace;
}

span.ui-datepicker-month {
    color: #ebebeb;
    font-family: 'Ubuntu Mono', monospace;
}

.ui-datepicker table tbody tr td a:hover {
    background-color: #3d474d;
    color: #ebebeb;
}

.ui-datepicker .ui-datepicker-next:hover {
    right: 2px;
    background-color: #f05545;
    border: none;
}

.ui-datepicker .ui-datepicker-prev:hover {
    right: 2px;
    background-color: #f05545;
    border: none;
}

.ui-datepicker .ui-datepicker-next:active {
    right: 2px;
    background-color: #b71c1c;
    border: none;
}

.ui-datepicker .ui-datepicker-prev:active {
    right: 2px;
    background-color: #b71c1c;
    border: none;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year option:hover {
    background-color: #b71c1c;
    color: #ebebeb;
}

/****************player dropdown list*********************/

.bootstrap-select > .dropdown-toggle {
    background-color: #F4F4F5;
    color: #4f5b62;
    width: 100%;
    z-index: 1;
}

default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #F4F4F5;
    border: 1px solid #6d1104;
    color: #4f5b62;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 40%;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 40%;
}


/****************Add players page stuff*******************/

/*#add-players-button {
    margin-left: 10px;
}*/

#invite-players-buttons-row.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col-md-5#add-players-button-col {
    width: 0px;
}

#pick-players-dropdown_title {
    border-radius: 0px;
}

.dd {
    display: block;
    position: relative;
    border: 1px solid #961402;
    min-width: 365px;
    min-height: 44px;
    border-radius: 0px;
    background-color: #b42410;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

div#pick-players-dropdown_msdd.dd.ddcommon.borderRadius {
    background-color: #b42410;
}

span#pick-players-dropdown_title.ddTitleText {
    background-color: #b42410;
}

.dd .divider {
    border: none;
}

.dd .ddTitle {
    color: white;
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 70%;
}

.dd .ddArrow {
    background: url(../Images/msdropdown/skin1.png);
    display: block;
    position: absolute;
    left: 120%;
}

.dd .ddChild {
    border: 1px solid #c3c3c3;
    background-color: #fff;
    left: -1px;
    min-width: 365px;
}

.dd .ddChild li.selected {
    background-color: #961402;
    color: #000;
}

li.enabled._msddli_ > input.checkbox {
    width: 50px;
    height: 40px;
    float: left;
}

li.enabled._msddli_ > span.ddlabel {
    display: block;
    position: absolute;
    top: 36%;
    margin-left: 15%;
    font-size: 15px;
    color: white;
}

li.enabled._msddli_ {
    display: block;
    position: relative;
    width: 100%;
    background-color: #4f5b62;
}

li.enabled._msddli_.hover {
    display: block;
    position: relative;
    width: 100%;
    background-color: #767c80;
}

li.enabled._msddli_.selected.hover {
    display: block;
    position: relative;
    width: 100%;
    background-color: #b42410;
}

/****************Table stuff******************************/

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #263238;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

tr:nth-child(even) {
    background-color: #4f5b62;
}

.table-container {
    border: 2px solid #1d2530;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/****************Register page stuff**********************/

#profileDesc {
    min-width: 30%;
    max-width: 100%;
    min-height: 100px;
    resize: none;
}

    #profileDesc:focus {
        border-color: #b71c1c;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(170, 28, 28, 1);
        outline: 0 none;
    }

.content {
    margin-top: 30px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/****************Drag-n-Drop file stuf********************/

#drag-drop-col {
    padding-left: 0px;
}

a.drag-drop-a {
    text-align: center;
}

#drop-files {
    width: 100%;
    min-height: 265px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 3px dashed rgba(0,0,0,0.2);
    padding-top: 110px;
    margin-left: 0px;
    text-align: center;
    vertical-align: central;
    font-size: 2em;
    float: left;
    font-weight: bold;
}

#imageFile {
    width: 100%;
    min-height: 260px;
    margin-left: 20px;
}

#dropped-files {
    float: left;
    border-color: #4f5b62;
    position: relative;
    min-width: 400px;
    min-height: 270px;
}

/*#dropped-files.drag-drop-class {
    float: left;
    border-color: #4f5b62;
    position: relative;
    width: 100%;
    min-height: 180px;
}*/

#upload-button {
    position: absolute;
    top: 87px;
    z-index: 9999;
    width: 210px;
    display: none;
}

#dropped-files .image {
    margin-left: 18px;
    height: 100%;
    width: 89%;
    border: 4px solid #fff;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

#upload-button .ss-upload {
    font-size: 0.7em;
}

#upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    border-radius: 10px;
}

#upload-button span {
    display: block;
    width: 160px;
    text-align: center;
    margin: 20px 0 0 0;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 4px 0;
    position: relative;
    left: -14px;
}

#upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
}

#extra-files {
    display: none;
    float: left;
    position: relative;
}

    #extra-files .number {
        background: rgba(0,0,0,0.6);
        border-radius: 4px;
        display: inline-block;
        position: relative;
        font-weight: bold;
        color: #fff;
        padding: 20px 30px;
        margin: 60px 0 0 0;
        cursor: pointer;
        font-size: 30px;
    }

#dropped-files #upload-button .delete {
    padding: 7px 6px 4px 6px;
    border-radius: 100px;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 1em;
    margin-left: 8px;
}

    #dropped-files #upload-button .delete:hover {
        background: rgba(0,0,0,0.8);
    }


#extra-files .number:after {
    position: absolute;
    content: " ";
    top: 18px;
    left: -40px;
    display: block;
    border: 20px solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

#extra-files #file-list {
    display: none;
    background: white;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 250px;
    top: 100px;
    border: 1px solid #dadada;
    left: -10px;
    left: -16px;
    max-height: 220px;
    top: 150px;
    position: absolute;
    color: #545454;
}

#file-list ul {
    overflow: scroll;
    padding: 0;
    border-top: 1px solid #dadada;
    max-height: 200px;
    width: 250px;
    list-style: none;
    border-bottom: 1px solid #dadada !important;
}


    #file-list ul li:last-of-type {
        border-bottom: 0 !important;
    }

#uploaded-holder {
    width: 700px;
    height: 250px;
    display: none;
    float: left;
}

#extra-files #file-list:after, #extra-files #file-list:before {
    position: absolute;
    content: " ";
    top: -40px;
    left: 40px;
    display: block;
    border: 20px solid;
    border-color: transparent transparent #ffffff transparent;
}

#extra-files #file-list:before {
    border-color: transparent transparent #dadada transparent;
    top: -41px;
}

#extra-files #file-list li {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}

#loading {
    display: none;
    float: left;
    width: 100%;
    position: relative;
}

#loading-bar {
    width: 404px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px;
}

.loading-color {
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: inherit;
    background-color: #4edbf1;
}

#loading-content {
    position: absolute;
    top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 405px;
}

#file-name-holder {
    width: 100%;
    float: left;
}

    #file-name-holder h1 {
        text-align: center;
        border-bottom: 1px solid #dadada;
        padding: 20px 0;
        font-size: 3em;
        margin: 0;
    }

#uploaded-files {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 407px;
    top: 100px;
    padding: 0;
    border: 1px solid #dadada;
    max-height: 320px;
    overflow: scroll;
    color: #545454;
}

    #uploaded-files li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 25px;
        color: #545454;
    }

    #uploaded-files a {
        color: #1bacbf;
    }



/*text stuff*/

a {
    color: #ff5757;
}

    a:hover {
        color: #f04d36;
    }

    a:active, a:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }

    a:visited {
        text-decoration: none;
    }

::-moz-selection {
    color: #263238;
    background: #4f5b62;
}

::selection {
    color: #263238;
    background: #4f5b62;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Ubuntu Mono', monospace;
}
/**/
.ubuntu-font {
    font-family: 'Ubuntu Mono', monospace;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #263238;
    font-family: 'Lato',sans-serif;
}

/*Landing page stuff*/
.jumbotron {
    background-color: #263238;
    color: #F4F7F9;
    background-image: url("https://www.fotolia.com/p/206082657");
    margin-bottom: 0;
    margin-top: 15px;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#left-landing,
#right-landing {
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
}

#ninja {
    margin-bottom: 3px;
}

/*ABOUT PAGE*/

ul.accordion {
    text-align: center;
    list-style: none;
}

    ul.accordion li a {
        font-size: 25px;
        letter-spacing: 2px;
        font-variant-caps: all-petite-caps;
        font-weight: 400;
        color: #ebebeb;
    }

/***********************Modal stuff*********************************/

div.modal-content {
    background: #263238;
}

div.modal-header button.close {
    margin-top: -8px;
    font-size: 35px;
    margin-right: -2px;
}

h4.modal-title {
    font-size: 25px;
}

.modal-header {
    padding: 15px;
    border-bottom: #263238;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #263238;
}

.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 0px;
    border: 2px solid #1d2530;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-default {
    border-color: #4f5b62;
}

    .panel-default > .panel-heading {
        color: #ebebeb;
        background-color: #263238;
        border-color: transparent;
    }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #263238;
        }

.panel {
    margin-bottom: 20px;
    background-color: #263238;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/***********************************Dashboard stuff*****************************************/
#profilePic,
#skillsPic,
#inventoryPic,
#statsPic,
#proPic,
#gamesPic,
#playersPic,
#targetPic {
    border-radius: 150px;
    border: 5px solid #b71c1c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

    #profilePic:hover,
    #skillsPic:hover,
    #inventoryPic:hover,
    #statsPic:hover,
    #proPic:hover,
    #gamesPic:hover,
    #playersPic:hover,
    #targetPic:hover {
        border: 5px solid #961402;
        border-radius: 200px;
    }

#targetCode {
    color: #263238;
    position: relative;
    top: -9px;
    border-radius: 15px;
}

#manual-elim-td,
#photo-elim-td {
    text-align: center;
    vertical-align: bottom;
    background-color: #4f5b62;
}

#elim-confirm-td {
    background-color: #b71c1c;
}

#target-name-th {
    background-color: #b71c1c;
    color: #ebebeb;
}

/*Manual Elimination Modal Stuff*/
#manual-modal-content,
#manual-modal-footer {
    text-align: center;
}


/*Quick Stats table (on the dashboard under photo) Stuff*/
#quickStats-table.table tr {
    background-color: transparent;
}

#quickStats-table.table td {
    color: #961402;
    font-size: 20px;
    font-weight: 600;
}

#quickStats-table.table th {
    padding: 6px;
    vertical-align: middle;
}

.col-md-4.dashboard-icons {
    padding-top: 40px;
}

#dashPlayersContainer {
    position: relative;
    display: block;
}

.circleNotification {
    padding: 8px 10px 8px 10px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 4%;
    background-color: #961402;
    color: #ebebeb;
    margin-top: 12px;
    border: 1px solid #961402;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

    .circleNotification:active {
        background-color: #943a2e;
        border: 1px solid #622921;
        color: #c6c6c6;
    }

    .circleNotification:hover {
        background-color: #961402;
        border: 1px solid #6d1104;
        color: #ebebeb;
    }

#friendRequestNotif {
    float: right;
}

a#friendRequestNotif.circleNotification {
    color: #d8d8d8;
    text-decoration: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #263238;
    color: #F4F7F9;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-stretch: normal;
    font-weight: 300;
    font-style: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.input {
    border-radius: 0px;
}

#facestatus, #eliminstatus {
    font-size: 14pt;
    padding: 10pt;
}


/*********************Friend Request List Stuff********************/

.vertical-menu {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

    .vertical-menu > div {
        background-color: #4f5b62;
        min-height: 50px;
        display: block;
        padding: 8px;
        text-decoration: none;
    }

    /*.vertical-menu div:hover {
            background-color: #ccc;
        }*/

    .vertical-menu div.active {
        background-color: #961402;
        color: white;
    }

.list-hr-line {
    min-height: 1px;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 0px;
}


/**********************Modal List Stuff***************************/

.list-table > tbody > tr > th {
    background-color: #961402;
    color: white;
    border: none;
}

/*Scrollbar stuff*/

/*::-webkit-scrollbar {
    border-radius: 2px;
}*/

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    width: 10em;
    overflow: auto;
    height: 2em;
}


/* width */
.vertical-menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.vertical-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 6px;
}

/* Handle */
.vertical-menu::-webkit-scrollbar-thumb {
    background-color: #4A4F51;
    width: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #4f5b62;
}


/**********************Players List Stuff***********************/

#friend-request-menu hr {
    margin-bottom: 0px;
    margin-top: 0px;
}

#friends-menu hr {
    margin-bottom: 0px;
    margin-top: 0px;
}

.table-menu-table-row {
    max-height: 50px;
}

#players-list-table > tbody > tr > th {
    background-color: #263238;
}

#friends-list-table > tbody > tr > th {
    background-color: #263238;
}

.table-menu-table-row h3, h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

/***************Confirmation Dialog Stuff************************/

.ui-draggable .ui-dialog-titlebar {
    background-color: #263238;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.ui-dialog .ui-dialog-content {
    background-color: #4A4F51;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.ui-dialog {
    background-color: #4A4F51;
}

    .ui-dialog .ui-dialog-buttonpane {
        background-color: #4A4F51;
        color: white;
        font-family: 'Ubuntu Mono', monospace;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: absolute;
        right: .3em;
        top: 50%;
        width: 20px;
        margin: -10px 0 0 0;
        padding: 1px;
        height: 20px;
        background-color: #4a4f51;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        margin: .5em .4em .5em 0;
        cursor: pointer;
        border: 1px solid #961402;
        background-color: #b71c1c;
    }

.clickable-row:hover {
    background: #5f6b72;
}


/************************Notifiaction Stuff******************************/

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.alert-minimalist {
    background-color: #5f6b72;
    border-color: rgba(149, 149, 149, 0.3);
    border-radius: 1px;
    color: #e1e1e1;
    padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
    margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
    font-size: 80%;
}

/**********************New Drag Drop File*******************************/
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    min-height: 300px;
    font-family: sans-serif;
    padding: 10px;
}
    #drop-area.highlight {
        border-color: #5f6b72;
    }
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}

#progress-bar {
    height: 40px;
    background-color: #4a4f51;
    margin-left: 15px;
    width: 220px;
}

progress::-moz-progress-bar {
    background: #b42410;
}

progress::-webkit-progress-value {
    background: #b42410;
}

progress {
    background: #b42410;
}
div#drop-area > h1 {
    margin-top: 0;
    text-align: center;
}

div#drop-area > label.btn {
    background: #4a4f51;
    border-radius: 0;
    height: 40px;
    margin-left: 34%;
    text-align: center;
    padding-top: 8px;
    font-family: 'Ubuntu Mono', monospace;
}

/********************Edit Profile Photo Stuff*************************/

#drop-area.profilePic img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    border: 5px solid #b71c1c;
    margin-left: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

    #drop-area.profilePic:hover img {
        border: 5px solid #961402;
        border-radius: 200px;
    }

#editPlayerPhoto {
    margin-left: 25px;
    height: 40px;
    padding-top: 10px;
}

.cropit-preview {
    background-size: cover;
    margin-top: 7px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

.cropit-preview-image {
    border: 5px solid #961402;
    border-radius: 200px;
}

.cropit-preview-image-container {
    cursor: move;
    border: 5px solid #961402;
    border-radius: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.image-size-label {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="range"] {
    margin-top: 10px;
}

#result {
    margin-top: 10px;
    width: 900px;
}

#result-data {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/*********************Hover board stuff************************/

.hover-board {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #263238;
    border: 2px solid #1d2530;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}