﻿
@{
    /**/

    ViewBag.Title = "Index";
}

<script>
    function uploadImg() {
        var img = $("#Photo")[0].value;
        var url = "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/JohnnyDeppApr2011.jpg/220px-JohnnyDeppApr2011.jpg";

        var a = $.ajax({
            type: "POST",
            dataType: "json",
            url: "Compare",
            data: JSON.stringify({ img: img, url: url }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false
        }).done(function () {
            console.log(a.responseJSON);
        });

    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="content">
            <div id="drop-files" ondragover="return false" onclick="openFileSelector()">
                Drop Profile Photo
            </div>
            <div id="uploaded-holder">
                <div class="form-group">
                    <div class="drag-drop-class" id="dropped-files">
                        <input id="photoFile" type="file" name="photoFile" class="invisible" />
                    </div>
                    <input id="Photo" name="Photo" class="invisible" />
                    <input id="PhotoExtension" name="PhotoExtension" class="invisible" />
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 200px;"></div>
<button onclick="uploadImg()">Upload</button>
