﻿@model IEnumerable<class_project.Models.RunFile>

@{
    ViewBag.Title = "Run Files";
}

<div class="titlebar">Run Files</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitFilePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Athlete.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FitFilePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FileID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FileID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FileID })
            </td>
        </tr>
    }

</table>

<div class="addbutton">@Html.ActionLink("Create New", "Create")</div>
