﻿@model Elimination.Models.RegisterViewModel
@{
    ViewBag.Title = "Player Registration";
}

<style>
    .row {
        margin-right: 0;
    }
</style>

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="container primary-color">
        <div class="row">
            <div class="col-md-12">
                @if (Model != null && Model.CaptchaFailed)
                {<h4 style="color: red">Captcha failed. You're not human!!</h4>}
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "first-name" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "last-name" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @id = "datepicker" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "user-name" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control bfh-phone", @id = "phone" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Profile, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.Profile, new { @class = "form-control", @id = "profileDesc" })
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="padding-right: 0px;">
                <div class="col-md-12" id="drag-drop-col">
                    <div id="drop-area">
                        <form class="my-form">
                            <h1>Upload Profile Photo</h1>
                            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                            <label class="btn" for="fileElem">Or Select Image</label>
                        </form>
                        @*<progress id="progress-bar" max=100 value=0></progress>*@
                        <div id="gallery"></div>
                    </div>
                </div>
                <input id="Photo" name="Photo" class="invisible" />
                <input id="PhotoExtension" name="PhotoExtension" class="invisible" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="g-recaptcha" data-sitekey="6Ldxu1kUAAAAACmfiHg74vxEMwQch8yu5hDNQKmw" data-theme="dark" style="padding-left: 14px"></div>
                </div>
                <div class="col-md-6" id="facestatus" style="align-self: center"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-default" value="REGISTER" id="register-button" disabled style="width: 100%" />
            </div>
            <div class="col-md-12">
                <input class="btn btn-default" id="delete-image-button" value="DELETE IMAGE" style="width: 100%" onclick="deleteImage()" />
            </div>
        </div>
    </div>
</div>
}
