﻿@model Elimination.Models.Player

@{
    ViewBag.Title = "Account Settings";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Account Settings</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlayerID)
        @Html.HiddenFor(Model => Model.FirstName)
        @Html.HiddenFor(Model => Model.LastName)
        @Html.HiddenFor(Model => Model.UserName)
        @Html.HiddenFor(Model => Model.Profile)
        @Html.HiddenFor(model => model.PhotoUrl)

        @Html.HiddenFor(model => model.AuthUserID)



        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                <div>
                    <p></p>
                    <input type="submit" value="Save" class="btn btn-default" />
                    <a href="@Url.Action("Edit","Players", new { id = Model.PlayerID })"><input type="button" value="Cancel" class="btn btn-default" /></a>
                </div>
            </div>

            <div class="col-md-6 text-right">
                <a href="@Url.Action("Delete","Account", new { id = Model.PlayerID })"><input type="button" value="Delete Account" class="btn btn-default" /></a>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
