﻿<!DOCTYPE html>
<html>
<head>
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/ninja-red-black.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>@ViewBag.Title - The Elimination Framework</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/animate")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/css")
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="nav-ninja" src="~/Images/ninja-red-white.png" height="32" width="32" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <img id="ninja" src="~/Images/ninja-red-black.png" height="32" width="32" rel="icon" />
                        &copy; @DateTime.Now.Year - Sneaky Software
                    </p>
                </div>

                <!-- Button HTML (to Trigger Modal) -->
                <div class="col-md-6 text-right">
                    <a href="/Home/About/">Credits</a> | 
                    <a href="#FAQ" role="button" data-toggle="modal">Help</a>
                </div>
                <!-- Modal HTML -->
                <div id="FAQ" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Need Help?</h4>
                            </div>
                            <div class="modal-body">

                                <div id="accordion" class="panel-group">
                                    <!--First Panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is the Elimination Framework?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    The Elimination Framework is a site to host and play Elimination-Based Live-Action Role-Playing games.
                                                    Players can make an account and then either host, or join, an elimination game. In this account, players can keep track of
                                                    their stats from game to game, earn experience points to level up, increase skill sets, and purchase inventory items. These all
                                                    can be used with one of the two companion mobile apps (forthcoming) to actually play the game.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Second Panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is an Elimination game?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Elimination-based games are, at their core, elaborate games of tag or hide-and-seek. They are live-action, meaning they take place
                                                    in real life, either through one of the companion mobile apps, or manually done by way of a game-host utilizing this website.
                                                    They usually involve some element of role-playing, like assassins or spys.
                                                    There are potentially limitless ways you can play, but here are several suggested variations.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Third Panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I start a game?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>If you want to host a game, you can either go to the "find a game" option from your dashboard,
                                                or click the red link under your hosted games section on the dashboard.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Fourth Panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How do I join a game?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>From your dashboard, click on the "Find a Game" icon and look for a game you can join.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Fifth Panel-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifth">How do I eliminate my target?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseFifth" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>To play a game with this site, if every thing is set up and the game has started,
                                                you can eliminate your player in a number of ways. This site is meant to host them, so how
                                                you go about actually eliminated players is up to you. It can be with a foam projectile, or
                                                with balled up socks. Any non-painful way will work.</p>
                                                <p>Once you have successfully eliminated your target, they will give you there target code,
                                                a four digit pin. On your dashboard, go to the target table (it's red) and click manual elimination.
                                                Enter the code, and, if it's correct, you will have eliminated your target and be assigned a new one
                                                (unless it's the last target, in which case, you won!)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--     Last Panel     -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLast">What if my question isn't answered here?</a>
                                            </h4>
                                        </div>
                                        <div id="collapseLast" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please feel free to contact us at <b>Eliminationframework@gmail.com</b></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!--
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                                -->

                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bs-select")
    @Scripts.Render("~/bundles/elimination")
    @RenderSection("scripts", required: false)
</body>
</html>
